psutil
pyttsx3
SpeechRecognition
PyAudio
pvporcupine
python-dotenv
fuzzywuzzy
python-Levenshtein
customtkinter
pyautogui
pywin32; sys_platform == 'win32'
pywinauto
spacy
requests
beautifulsoup4
transformers
torch
wikipedia
pytest
plyer
opencv-python
face_recognition
dlib
mediapipe
deepface
pytesseract
ultralytics
python-docx
faiss-cpu
sentence-transformers
pystray
Pillow
